@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	@apply bg-white font-body text-xl tracking-normal;
}

header {
	@apply flex items-center;
	img {
		@apply mr-10 w-60;
	}
	h2 {
		@apply mb-2 text-5xl;
	}
	h3 {
		@apply mb-2 ml-1 text-2xl text-gray-500;
	}
}

nav {
	@apply flex w-full items-center justify-between;

	ul {
		@apply flex items-center;
		li {
			@apply ml-5;
			&.btn {
				@apply inline-block px-3 text-sm font-bold uppercase;
				a {
					@apply block px-2 py-4 text-sm font-bold uppercase tracking-wide;
				}
			}
		}
	}
}

header,
main,
footer {
	@apply w-full;
	@apply max-w-screen-xl;
	@apply mx-auto;
}
main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
	@apply mt-12 text-center text-gray-500 md:mt-32;
}

h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div {
	@apply m-0 p-0 font-body text-gray-600;
}

#page {
	@apply mb-[1em] md:mb-[4em];
}
.header-wrap {
	@apply p-5;
}

.headings {
	@apply pt-4;
}
.headings a.btn {
	@apply mt-5 inline-block py-3 px-5;
}
.headings > * {
	@apply mb-2;
}
.smoothie_wrapper {
	@apply flex w-full flex-col md:flex-row md:items-center md:justify-start;
}
.smoothie {
	@apply mx-auto w-[8em] md:ml-0 md:mr-[10em] md:w-auto;
}
.btn {
	@apply rounded-xl bg-amber-200;
}

button {
	@apply mt-7 block rounded-xl border-0 !bg-amber-500 px-6 py-3 text-2xl font-bold uppercase tracking-widest;
}

.recipes {
	@apply mx-4 my-auto md:mx-20 md:grid md:max-w-5xl md:grid-cols-3 md:gap-x-7 md:gap-y-20;
}

.recipe {
	@apply relative inline-block rounded-2xl text-center md:pt-0 md:pr-5 md:pb-7 pb-16 md:pl-5;
	img {
		@apply mx-auto -mt-7 mb-5 w-auto;
	}
}

ul {
	@apply list-none;
}

form {
	@apply mx-0 my-auto w-80 rounded-lg bg-white p-7 text-left shadow-blue-500/50;
	h2 {
		@apply mb-10 text-4xl font-black;
	}
}

input {
	@apply w-full rounded border-2 border-solid border-slate-100 px-2 py-3 text-base;
}

label {
	@apply mx-0 mt-5 mb-2 block;
}

.error {
	@apply mx-2 my-1 text-sm font-bold text-rose-700;
}
