

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	@apply bg-white text-xl tracking-normal font-body;
}

.header-wrap {
	@apply p-5;
	@apply bg-blue-400;
}

header {
	@apply flex items-center;
	img {
		@apply mr-10 w-60;
	}
	h2 {
		@apply mb-2 text-5xl;
	}
	h3 {
		@apply mb-2 ml-1 text-2xl text-gray-500;
	}
}

nav {
	@apply flex w-full items-center justify-between;

	ul {
		@apply flex items-center;
		li {
			@apply ml-5;
			a {
				@apply block px-2 py-4 text-sm font-bold uppercase tracking-wide;
			}

			.btn {
				@apply inline-block px-3 text-sm font-bold uppercase;
			}
		}
	}
}

header,
main,
footer {
	@apply w-full;
	@apply max-w-screen-xl;
	@apply mx-auto;
}
main,
footer {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
	@apply mt-32 text-center text-gray-500;
}

h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
	@apply m-0 p-0 font-body text-gray-600;
}

.btn {
	@apply rounded-xl bg-amber-200;
}

button {
	@apply mt-7 block rounded-xl border-0 bg-amber-500 px-2 py-4 text-2xl font-bold uppercase tracking-widest;
}

.recipes {
	@apply mx-20 my-auto grid max-w-5xl grid-cols-3 gap-x-7 gap-y-20;
}

.recipe {
	@apply relative inline-block rounded-2xl pt-0 pr-5 pb-7 pl-5 text-center;
	img {
		@apply mx-auto -mt-7 mb-5 w-auto;
	}
}

ul {
	@apply list-none;
}

form {
	@apply mx-0 my-auto w-80 rounded-lg bg-white p-7 shadow-blue-500/50;
	h2 {
		@apply mb-10 text-4xl font-black;
	}
}

input {
	@apply w-full rounded border-2 border-solid border-slate-100 px-2 py-3 text-base;
}

label {
	@apply mx-0 mt-5 mb-2 block;
}

.error {
	@apply mx-2 my-1 text-sm font-bold text-rose-700;
}
